<h6 class="sidebar-heading d-flex px-3 mt-4 mb-1 text-muted">
  <span>Devices</span>
</h6>

<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "all_devices" %}active{% endif %}" href="{% url 'all_devices' %}">Show Devices</a></li>
  {% if request.user.is_staff %}
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "new_device" %}active{% endif %}" href="{% url 'new_device' %}">New Device</a></li>
  {% endif %}
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>User</span>
</h6>

<ul class="nav flex-column">
  {% if request.user.is_staff %}
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "list_user" %}active{% endif %}" href="{% url 'list_user' %}">Show Users</a></li>
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "new_user" %}active{% endif %}" href="{% url 'new_user' %}">New User</a></li>
  {% endif %}
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "change_password" %}active{% endif %}" href="{% url 'change_password' %}"">Change my Password</a></li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Information</span>
</h6>

<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "help" %}active{% endif %}" href="{% url 'help' %}">Help</a></li>
  <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == "about" %}active{% endif %}" href="{% url 'about' %}">About</a></li>
</ul>
