{% load static %}

{% include "snippets/head.html" %}

<link rel="stylesheet" href="{% static 'base/portal.css' %}">

{% include "snippets/body.html" %}


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">WakeOnLan</a>

  <div class="d-md-none">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">


{% include "snippets/navigation.html" %}



        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="{% url 'logout' %}" type="button" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

          {% include "snippets/navigation.html" %}

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      {% block content %}
      {% endblock %}

  </div>
  </main>
</div>
</div>

  {% include "snippets/foot.html" %}

  {% block script %}
  {% endblock %}

  </body>
  </html>
