{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block content %}

<form method="post" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">WakeOnLan Portal</h1>

  {% csrf_token %}
  {{ form.as_p }}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

  <p class="mt-5 mb-3 text-muted">&copy;2020 <a href="https://www.wake-on-lan.org">wake-on-lan.org</a> </p>
</form>

{% endblock %}
