{% extends 'base/portal.html' %}
{% load static %}


{% block content %}

<h1>Change password</h1>

{% if messages %}
<div class="alert alert-success" role="alert">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-success">Save</button>
  <button type="reset" class="btn btn-outline-danger">Cancel</button>
</form>


{% endblock %}
