{% extends 'base/portal.html' %}
{% load static %}


{% block content %}

<h1>Devices</h1>

<p>
  <input class="form-control" id="searchInput" type="text" placeholder="Search..">
</p>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Mac-Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="searchable">

      {% for d in devices %}
      <tr>
        <td>{{ d.name }}</td>
        <td>{{ d.desc }}</td>
        <td>{{ d.mac }}</td>
        <td>
          <a class="badge badge-success" href="#">Poweron</a>
          <a class="badge badge-secondary" href="#">Edit</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}

{% block script %}
{% include "snippets/jquery_filter_table.html" %}
{% endblock %}
